<div class"mt-3">
  <%= form_with model: [book, book_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '5', class:"w-100", id: "comment_textarea" %><br>
    <%= f.submit "送信" %>
  <% end %>
</div>