<% if @model == 'user' %>
  <h3>Users seach for "<%= @content %>"</h3>
  <%= render 'users/index', users: @records %>
<% elsif @model == 'book' %>
<h3>Books seach for "<%= @content %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>